/*============= input error text =============*/
.inputError {
  height: 15px;
  overflow-y: hidden;
  margin-left: 8px;
  top: 0;
  position: relative;
}
.inputError .inputErrorText {
  font-size: 12px;
  color: red;
  line-height: 1;
  animation-name: errorAnimation;
  animation-duration: 1s;
  top: -12px;
}
@keyframes errorAnimation {
  from {
    color: white;
    transform: translateY(-14px);
  }
  to {
    transform: translateY(0);
  }
}
